.all-icons .font-icon-detail {
    text-align: center;
    padding: 45px 0 30px;
    border: 1px solid #e5e5e5;
    border-radius: .1875rem;
    margin: 15px 0;
    min-height: 168px;
}

.all-icons .font-icon-list .font-icon-detail i {
    font-size: 32px;
}

p{
    cursor: pointer;
}