/* Basic button styles */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f5;
  padding: 10px; /* Adjust padding for smaller screens */
}

button {
  padding: 8px 16px;
  margin: 4px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

/* Specific button styles */
.save-btn {
  background-color: #006666;
}

.delete-btn {
  background-color: #cc3300;
}

.update-btn {
  background-color: #000066;
}

.clear-btn {
  background-color: #ff9900;
}

.close-btn {
  background-color: #cc0000;
}

.search-btn,
.trending-btn,
.health-btn,
.version-btn,
.sdc-btn,
.testing-btn,
.info-btn,
.pdf-btn {
  background-color: #336699;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .button-container {
    padding: 10px;
  }
  button {
    padding: 6px 12px;
  }
}

@media screen and (max-width: 576px) {
  .button-container {
    padding: 5px;
  }
  button {
    padding: 4px 8px;
  }
}
