<h1 class="title">GST MASTER</h1>
<div class="main-container">
    <div class="sub-container">
        <div class="gst-label">
            <label>GST Name:<span class="required">*</span></label>
            <input type="text" class="input-box" required>

        </div>
        <div class="des-label">
            <label>Description:<span class="required">*</span></label>
            <input type="text">
        </div>
        <div class="gst-per">
            <label>GST (%):<span class="required">*</span></label>
            <input type="number"class="input-box" required>
        </div>
        <div class="CGST">
            <label>CGST (%):<span class="required">*</span></label>
            <input type="number"class="input-box" required>
        </div>
        <div class="SGST">
            <label>SGST(%):<span class="required">*</span></label>
            <input type="number"class="input-box" required>
        </div>
        <div status="valid-date">
            <label>Valid from-date:<span class="required">*</span></label>
            <input type="date"class="input-box" required>
        </div>
        <div class="valid-from-date">
            <label class="valid-label">Valid To-date<span class="required">*</span></label>
            <input type="date"class="input-box" required>
        </div>
    </div>
</div>
