<!-- <div>
    <label>UNIT Name</label>
    <input value="text" required>
    <label>Description</label>
    <input value="text" required>
</div>    -->

<div class="main-container">
    <div class="sub-container">
        <div class="unit-name-container">
            <label class="unit-label">Unit Name:<span class="required">*</span></label>
            <input type="text" class="input-box" required/>
        </div>
        <div class="Description-container">
            <label class="des-label">Description:</label>
            <textarea class="textarea-description"></textarea>
        </div>
    </div> 
</div>