<div class="background-icon">
<div class="wrapper">
    <div class="title">
        Item Type Form
    </div>
    <div class="form">
        <div class="inputfield">
            <label>Trans Type:</label>
            <div class="custom_select">
                <select>
                    <option value="">Select</option>
                    <option value="male">Pharmacy</option>
                    <option value="female">Hospital</option>
                </select>
            </div>
        </div>
        <div class="inputfield">
            <label>Item Type:<span class="required">*</span></label>
            <input type="text" class="input" required>
        </div>
        <div class="inputfield">
            <label>Item Type Group:</label>
            <div class="input-group">
                <input type="search" class="input" id="itemTypeGroup">
                <!-- <div class="search-icon">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div> -->
            </div>
        </div>
        <div class="inputfield">
            <label>Under Item Type:</label>
            <div class="input-group">
                <input type="text" class="input" id="underItemType">
                <div class="search-icon">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="inputfield">
            <label>Type:<span class="required">*</span></label>
            <div class="custom_select">
                <select required>
                    <option value="">Select</option>
                    <option value="male">Asset</option>
                    <option value="female">Medi</option>
                </select>
            </div>
        </div>
        <div class="inputfield">
            <label>Bill Types:</label>
            <div class="form-check">
                <input type="radio" id="billed" name="billType" value="billed" class="form-check-input">
                <label for="billed" class="form-check-label">Billed</label>
            </div>
            <div class="form-check">
                <input type="radio" id="non-billed" name="billType" value="non-billed" class="form-check-input">
                <label for="non-billed" class="form-check-label">Non-Billed</label>
            </div>
        </div>
        <!-- <div class="inputfield">
            <label>MIS Heads:</label>
            <input type="text" class="input">
        </div> -->
        <div class="inputfield">
            <label>Description:</label>
            <textarea class="textarea"></textarea>
        </div>
        <div class="inputfield">
            <label>Prefix for Item Code:<span class="required">*</span></label>
            <input type="text" class="input" required>
        </div>
        <div class="inputfield">
            <label>Purchase Expiry Days: </label>
            <input type="text" class="input">
        </div>
        <!-- <div class="inputfield">
            <label>GL Code: </label>
            <input type="text" class="input">
        </div> -->
        <div class="inputfield">
            <label>Status:</label>
            <div class="form-check">
                <input type="radio" id="active" name="status" value="active" class="form-check-input">
                <label for="active" class="form-check-label">Active</label>
            </div>
            <div class="form-check">
                <input type="radio" id="inactive" name="status" value="inactive" class="form-check-input">
                <label for="inactive" class="form-check-label">Inactive</label>
            </div>
        </div>
    </div>
</div>
</div>
